<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>IMUMenuBar</string>
  <key>CFBundleIdentifier</key>
  <string>com.imessage-unsent.MenuBar</string>
  <key>CFBundleName</key>
  <string>IMUMenuBar</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.imessage-unsent.MenuBar</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>imu</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
